* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%; margin: 0;
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}
body {
    display: flex;
}
.BG-1 {
    background-image: url("../img/login-left.svg");
    width: 35%;
}
.BG-2 {
    background-image: url("../img/login-right.svg");
    width: 65%;
}
.BG-1, .BG-2 {
    background-size: cover;
    background-position: center;
}
.text-C {
    font-size: 2.2rem;
}
.text-E {
    font-size: 1.5rem;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-bottom: 20px;
}
footer p {
    text-align: center;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
p, label {
    color: #003399;
}
.inputGroup {
    margin-bottom: 40px;
}
input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 8px;
}
.icon-input {
    display: flex;
    border-bottom: 1px solid #003399;
    padding: 0 19px;
    margin-bottom: 20px;
}
.icon-input label {
    width: 16px;
}
input {
    outline: 0;
}
.form-check {
    padding-left: 40px;
}
#defaultCheck1 {
    background-color: transparent;
    border: 1.5px solid #003399;
    border-radius: 3px;
}
#defaultCheck1:checked {
    background-color: #0d6efd;
}
button {
    background-color: #003399;
    color: #FFF;
}
@media screen and (max-width: 1024px){
    .text-C {
        font-size: 2.0rem;
    }
    .text-E {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 768px){
    #right-part {
        display: none;
    }
    .BG-1 {
        width: 100%;
    }
    .wrap {
        padding: 0 20%;
    }
}
@media screen and (max-width: 375px){
    img {
        width: 65px;
    }
    .text-C {
        font-size: 1.7rem;
    }
    .text-E {
        font-size: 1.2rem;
    }
}
@media screen and (max-height: 375px){
    body {
        height: auto;
    }
    #right-part {
        height: auto !important;
    }
    .wrap {
        padding: 3% 20%;
        width: 100%;
    }
    #right-part {
        display: none;
    }
}